$table-padding: 10px;
$table-header-bg: #18181b;
$table-border-color: #18181b;
$table-header-color: #fafafa;
$table-row-hover-bg: #18181b;

.content {
  h2 {
    font-size: 20px;
    color: #fafafa;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 8px;
    width: fit-content;
    line-height: normal;
    background-color: #18181b;
    font-family: var(--font-kanit), sans-serif;
  }

  strong,
  a {
    font-weight: 700;
    color: rgb(139 92 246);
    font-family: var(--font-kanit), sans-serif;
  }

  a {
    text-decoration: underline;
  }

  img {
    border-radius: 16px;
  }

  iframe {
    width: 100%;
    border-radius: 8px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    color: $table-header-color;
    font-family: Arial, sans-serif;
  }

  thead {
    text-align: center;
    color: $table-header-color;
    background-color: $table-header-bg;
  }

  th {
    padding: $table-padding;
    border-bottom: 2px solid $table-border-color;
  }

  tbody tr {
    color: #71717a;
    border-bottom: 1px solid $table-border-color;
  }

  tbody tr:hover {
    color: $table-header-color;
    background-color: $table-row-hover-bg;
  }

  td {
    text-align: center;
    padding: $table-padding;
  }
}
